@import url('https://fonts.googleapis.com/css?family=Quicksand|VT323');
HTML,body{
	font-family: "VT323",monospace;
	background:#e2e1e0;  
	text-align: center;
}
.pokeapp{
    padding: 16px
}
.pokemon--species--list{
    display: flex;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    padding: 16px 0;

}
.pokemon--species{
	-ms-flex-preferred-size:25%;
	flex-basis: 25%;
	padding: 8px;
	box-sizing:border-box;
}
.pokemon--species---container{
    padding : 8px;
    background : white;
    cursor : pointer;
 box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

